.list{
    ul {
        list-style-type: none;
        display: flex;
    }
    
    li {
        margin-right: 20px;
    }
    
    li:last-child {
        margin-right: 0;
    }
    
    li a {
        color: #00AA95; 
        text-decoration: none; 
        padding: 10px;
        font: 1.3em sans-serif;
        transition-delay: 0.3s;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
    }
    
    li a:hover {
        font-size: 1.5em;
    }

    .active-link{
        font-weight: bold;
    }
}