nav {
    background-color: #ffffff;
    border-bottom: solid #00AA95 4px;
    height: 4em;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}