body {
        margin: 0;
        padding: 0;
        min-height: 60vh;
        font-family: Arial, sans-serif;
        color: #00AA95;
        text-decoration: none;
}

.main--container{
        min-height: 80vh;
        max-width: 100%;
        vertical-align: middle;
}

